
.colorAzulClaro {
    color: #007387;
}

.fondoAzulClaro {
    background-color: #007387;
}

.colorAzulMedio {
    color: #012448;
}

.fondoAzulMedio {
    background-color: #012448;
}

.colorAzulOscuro {
    color: #021025;
}

.fondoAzulOscuro {
    background-color: #021025;
}

.colorAmarilloClaro {
    color: #ffcc1b;
}

.fondoAmarilloClaro {
    background-color: #ffcc1b;
}

.colorAmarilloMedio {
    color: #cc9c2f;
}

.fondoAmarilloMedio {
    background-color: #cc9c2f;
}

.colorAmarilloOscuro {
    color: #a17c29;
}

.fondoAmarilloOscuro {
    background-color: #a17c29;
}