.ffa .landing-panel {
    overflow: hidden;
}
.ffa .ffa-landing,
.ffa .ffa-landing .background {
    width: 100%;
    height: 100%;
}
.ffa .ffa-landing {
    position: relative;
    /**/padding: 124px;
}

.ffa .ffa-landing .background {
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index:3;
    transition: opacity 1s ease-out;/**/
}
/**/.ffa .ffa-landing .background.next-active {
    opacity: 1;
    z-index:1;
}
.ffa .ffa-landing .background.active {
    opacity: 1;
    z-index:2;
    /*transition: opacity 1s ease-out;*/
}
.ffa .ffa-landing .content {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ffa .ffa-landing .text-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:5;
}
.ffa .ffa-landing .text-content .header {
    padding-top: 44px;
    margin-bottom: 0;
    margin-top: auto;
    padding-bottom: 16rem;
    max-width: 700px;
}
.ffa .ffa-landing .text-content .text { 
    display:block;
}
.ffa .ffa-landing .text-group {
    display: block;
    height:0;
    opacity:0;
}
.ffa .ffa-landing .text-group .text {
    transform: translateY(20px);
}
.ffa .ffa-landing .text-group.active {
    opacity: 1;
    transition: opacity 1.25s ease-in-out 1.25s;

}
.ffa .ffa-landing .text-group.active .line-1 {
    transform: translateY(0);
    transition: transform 0.75s ease-out 1.25s;

}
.ffa .ffa-landing .text-group.active .line-2 {
    transform: translateY(0);
    transition: transform 0.75s ease-out 1.35s;

}
.ffa .ffa-landing .text-group.active-out {
    opacity: 0;
    transition: opacity 0.75s ease-out;
}
.ffa .ffa-landing .text-group.active-out .line-1 {
    transform: translateY(-20px);
    transition: transform 0.75s ease-out 0.15s;
}
.ffa .ffa-landing .text-group.active-out .line-2 {
    transform: translateY(-20px);
    transition: transform 0.75s ease-out 0.25s;
}
.ffa .ffa-landing .text-content .bottom {
    margin-top: auto;
    display:flex;
    width:100%;
    height: 108px;
    justify-content: space-between;
    align-items: center;
    padding: 0 44px 44px 80px;
}
.ffa .ffa-landing.paused .landing-pause {
    border: none;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #fff;
    padding: 0;
}
.ffa .ffa-landing.paused .pause-text,
.ffa .ffa-landing .play-text {
    display:none;
}
.ffa .ffa-landing.paused .play-text {
    display: inline;
}
@media (max-width: 991px) {
    .ffa .ffa-landing {
        position: relative;
        /**/padding:45px 20px;
        overflow: visible;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ffa .ffa-landing .text-content .header {
        font-size: 4.0rem;
        line-height: 4.8rem;
        padding-bottom: 7rem;
    }
}
@media (max-width: 991px) {
    .ffa .landing-panel {
        overflow: visible;
    }
    .ffa .ffa-landing {
        height: calc(100vh - var(--navbar-height));
    }
    .ffa .ffa-landing .content,
    .ffa .ffa-landing .text-content {
        height: calc(100vh - var(--navbar-height));
    }
    .ffa .ffa-landing .content,
    .ffa .ffa-landing .text-content {
        height: 100%;
    }
    .ffa .ffa-landing .text-content {
        padding: 0 20px;
    }
    .ffa .ffa-landing .text-content .header {
        /*max-width: 300px;*/
        padding-bottom: 8.8rem;
    }
    .ffa .ffa-landing .bottom .pause-button {
        align-self: flex-end;
    }
    .ffa .ffa-landing .text-content .bottom {
        margin-top: auto;
        display:flex;
        width:100%;
        height: 108px;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 24px;
    }
    .ffa .ffa-landing .text-content .bottom .scroll-button-container { 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .ffa.opening-animation-complete .ffa-landing .text-content .bottom {
        visibility:hidden;
    }

}
@media only screen and (min-width: 992px) and (max-height: 749px) {
    .ffa .ffa-landing .text-content .header {
        padding-bottom: 4rem;
    }
}
@media (max-width: 767px) and (max-height: 450px) {
    .ffa .ffa-landing {
        padding: 20px;
        overflow: visible;
    }

    .ffa .ffa-landing .text-content .header {
        padding-top: 60px;
        font-size: 3.0rem;
        line-height: 3.4rem;
        max-width: 500px;
        padding-bottom: 3.8rem;
    }
}