/*.ffa .manifesto-modal {
    z-index: 11;
    top: var(--navbar-height);
}

.ffa .manifesto-modal .modal-dialog {
    padding: 0;
    margin: 0; 
    width: auto;
}*/
.ffa .manifesto-panel {
    padding: 100px 44px;
}
.ffa .manifesto-panel .text-content {
    margin-bottom:40px;
}
.ffa .manifesto .animation-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-size:1.8rem;
}
.ffa .manifesto .animation-toggle .text-off,
.ffa .manifesto .animation-toggle.animation-paused .text-on  {
    display:inline;
}
.ffa .manifesto .animation-toggle .text-on,
.ffa .manifesto .animation-toggle.animation-paused .text-off  {
    display:none;
}
.ffa .manifesto .manifesto-video,
.ffa .manifesto .manifesto-icon .icon {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
.ffa .manifesto .text-content {
    font-size: 3.2rem;
    line-height: 4.0rem;
    padding: 10px 0 0;
    margin:0;
    margin-bottom: 40px;
}
.ffa .manifesto .modal-close {
    font-size: 1.8rem;
    line-height:3.2rem;
}
.ffa .modal .manifesto {
    padding-top: 104px;
}
.ffa .modal .manifesto .row.first {
    padding-top: 16px;
}               
.ffa .modal .manifesto .row {
    padding: 20px 44px;
}
@media (min-width: 992px) { 
    .ffa .manifesto-panel .text-content {
        margin-bottom:64px;
    }
    .ffa .manifesto .manifesto-video,
    .ffa .manifesto .manifesto-icon .icon {
        width: 224px;
        height: 224px;
    }
    .ffa .manifesto .text-content {
        font-size: 6.4rem;
        line-height: 8.0rem;
        padding:0;
    }
    .ffa .modal .manifesto .row.first {
        padding-top: 64px;
    }
    .ffa .modal .manifesto .row {
        padding: 32px 44px;
    }
    .ffa .modal .manifesto {
        padding-top: 80px;
    }
    .ffa .modal .manifesto .footer {
        margin-top: 108px;
    }
}
@media only screen and (min-width: 992px) and (max-height: 749px) {

    .ffa .manifesto .text-content {
        font-size: 3.6rem;
        line-height: 4.7rem;
    }
}